.container
{
    width: 98%;
    margin-top: 4em;
    margin-left: 4em;
    
}

.navbar-brand
{
    font-size: 3em;
}
img
{
    width: 140%;
    height: 60%;
}
.sitemap
{
    background-color: 	white;
    margin-left: 4em;
    border-top: 8px solid 	#ccd9ff;
    height: 340px;
}
.media
{
    text-align: center;
    color: 	black;
    margin-bottom: 1em;
}

.background
{
    background-color:#e6e6e6 ;
    height: max-content;
}

h5
{
    
    font-weight: bold;
    padding: .5em;
    background-color: #eef7f4;
}

