.container
{
    width: auto;
    margin-top: 4em;
    margin-left: 4em;
    border-bottom: 8px solid 	#ccd9ff;
    
}

.navbar-brand
{
    font-size: 3em;
}
img
{
    width: 150%;
    height: 80%;
}
.footer
{
    
    bottom: 0;
    width: 98%;
    height: 100px;
}
